.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  background-color: #e4e6e7;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 3px;
  border-radius: 10px;
}

.navLabel {
  margin-right: 10px;
  color: #fff;
}

.navInput {
  padding: 5px;
  text-align: center;
  margin-left: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.search{
  position: absolute;
  top: 10;
  left: 89.4%;
  cursor: pointer;
}

.navInput-track{
  width: 9%;
  padding: 5px;
  margin-left: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.heading {
  text-align: center;
  margin-top: 20px;
  color: #333;
}